{% extends 'base.html' %}
{% block content %}
    <article class="container">
        <div class="page-header">
          <h2>패스워드 찾기 <small>Find password page</small></h2>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="err-msg">{{ response }}</div>
            <form method="POST" class="form-inline">
                {% csrf_token %}
                <label for="{{ form.id.id_for_label }}">{{ form.id.label }} *</label>
                {{ form.id }}
                <button type="submit" class="btn btn-info">확인<i class="fa fa-check spaceLeft"></i></button>
            </form>
        </div>
    </article>
{% endblock %}