{% extends 'base.html' %}
{% block content %}
    <article class="container">
        <div class="page-header">
            <h2>마이 페이지
                <small>My page</small>
            </h2>
        </div>

        <div style="margin-top: 3em;" class="col-md-6 col-md-offset-3">
            <ul class="list-group">
                <li class="list-group-item"><span class="badge">아이디</span>{{ user.username }}</li>
                <li class="list-group-item"><span class="badge">이메일</span>{{ user.email }}</li>
                <li class="list-group-item"><span class="badge">이름</span>{{ user_info.user_name }}</li>
                <li class="list-group-item"><span class="badge">학번</span>{{ user_info.user_num }}</li>
                <li class="list-group-item"><span class="badge">전화번호</span>{{ user_info.user_phone }}</li>
                <li class="list-group-item"><span class="badge">재학여부</span>{{ is_attend }}</li>
                <li class="list-group-item"><span class="badge">가입일자</span>{{ user_info.signup_date }}</li>
            </ul>
            <div style="margin-left: 35%; margin-top: 3em;">
                <a href="{% url 'edit_my_page' %}">
                    <button type="button" class="btn btn-info">회원정보 수정<i class="fa fa-check spaceLeft"></i></button>
                </a>
                <a href="{% url 'main' %}">
                    <button type="button" class="btn btn-warning">취소<i class="fa fa-times spaceLeft"></i></button>
                </a>
            </div>
        </div>
    </article>
{% endblock %}