{% extends 'base.html' %}
{% block content %}
    <article class="container">
        <div class="page-header">
            <h2>회원가입
                <small> Sign up page</small>
            </h2>
        </div>

        <div class="col-md-6 col-md-offset-3">
            <form role="form" method="POST">
                {% csrf_token %}
                {% for input in form %}
                    <div class="form-group">
                        <label for="{{ input.id_for_label }}">{{ input.label }} *</label>
                        {{ input }}
                    </div>
                {% endfor %}
                <br>
                <div class="form-group text-center">
                    <div class="err-msg">{{ response }}</div>
                    <button type="submit" class="btn btn-info">회원가입<i class="fa fa-check spaceLeft"></i></button>
                    <a href="{% url 'login' %}">
                        <button type="button" class="btn btn-warning">가입취소<i class="fa fa-times spaceLeft"></i></button>
                    </a>
                </div>
            </form>
        </div>
    </article>
{% endblock %}