# ant-cave .ignore
.idea/
ANTCave/*.pyc
ANTCave/__pycache__/
Profile/__pycache__/
Profile/*.pyc
Profile/migrations/
Board/__pycache__/
Board/*.pyc
Board/migrations/
# Environments
.venv
venv/
venv.bak/
ant-cave/
# File
media/
