{% load staticfiles %}
    {% if user.is_authenticated %}
<div class="page-header">
    <nav class="navbar navbar-fixed-top ">
        <ul class="container">
            <ol class="breadcrumb navbar-right">
                <li right><span>{{ user.get_username }}님 환영합니다.</span></li>
                <li><a href="{% url 'my_page' %}">마이 페이지</a></li>
                <li><a href="{% url 'logout' %}">로그아웃</a>

        </ol>
        </ul>
    </nav>
    {% endif %}
    <a href="{% url 'main' %}">
    </a>
</div>

{% include 'group_list.html' %}