<div class="login">
    {% if user.is_authenticated %}

    {% else %}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <span> ID : <input type="text" name="username" placeholder="아이디" /></span>
            <span> PW : <input type="password" name="password" placeholder="비밀번호" /></span>
            <button type="submit">로그인</button>

        </form>
        <a href="{% url 'sign_up' %}">
            <button>회원가입</button>
        </a>
    {% endif %}
</div>