{% extends 'base.html' %}

{% block content %}
<div class="container login">
    <h2>로그인</h2>

    {% if id_err %}
        <div class="err-msg">{{ id_err }}</div>
    {% endif %}

    {% if pw_err %}
        <div class="err-msg">{{ pw_err }}</div>
    {% endif %}

    <form method="POST" class="login-input">
        {% csrf_token %}
        <div>
            <input type="text" name="id" placeholder="아이디" value="{{ user_id }}" /><br>
            <input type="password" name="password" placeholder="비밀번호" />
        </div>
        <button type="submit">로그인</button>

    </form>
    <br>
    <div>
        <a href="{% url 'find_id' %}">아이디 / 패스워드 찾기</a>
        <a href="{% url 'sign_up' %}">회원가입</a>
    </div>

</div>
{% endblock %}
