{% extends 'base.html' %}

{% block content %}
<article class="container">
    <div class="page-header">
        <h3>
            {{ b_name }}
            <small> {{ b_name_e }}</small>
        </h3>
    </div>
    <div class="col-md-8 col-md-offset-1 ">
        <h3>{{ content.title }}

        </h3>
        <h4>
            <small>작성자 : {{ content.writer }}</small>
            <small class="pull-right "> {{ content.create_date}}</small>
        </h4>
        <hr>
        <div class="">
            <p style="height:300px">{{ content.text }}</p>

        </div>
        <ul class="list-group">
        {% for file in files %}
            <li class="list-group-item"><a href="{{ file.url }}" download><i class="fa fa-file"></i> {{ file.filename }}</a></li>
        {% endfor %}
        </ul>

        <a href="{{ edit }}"><button>수정</button></a>
    </div>
</article>
{% endblock %}