.group_box {
    height: 40px;
    width: 1050px;
}

.group_box ul {

}

.group_box ul li {
    float: left;
    list-style: none;
    background-color: rgba(51, 51, 51, 0.9);
    text-align: center;
    line-height:40px;
    vertical-align: middle;
}

.group_box ul li a {
    text-decoration: none;
    color: #ffffff;
    width: 150px;
    display: block;
}

.group_box ul li a:hover {
    text-decoration: none;
    color: #c7c7c7;
    background-color: rgba(92, 92, 92, 0.9);
}

.login {
    float:right;
    display: block;
}

.login form {
    display: inline;
}